# Eclipse files.
/.metadata
/.recommenders
.settings
.project
.classpath

# Vim swap and undo files.
*.swp
*.*~

# Benchmarking & testing.
/bench/x*
/test
/local

# Build tool files.
.gradle/
*.class
*.so
*.dll

# Release artifacts.
/build/

# IntelliJ IDEA Project files.
.idea/*
*.eml
*.iml
/*.ipr
/*.iws
/out/

# Private files.
.DS_Store